<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>VatTech</title>

    <!-- Bootstrap core CSS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700|Play:400,700" rel="stylesheet">
</head>
<body>
        <nav class="navbar navbar-dark navbar-expand-md fixed-top">
                  <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item"> 
                        <a class="nav-link" href="/"><img src="static/images/JMBBLOG.png"></a>
                    </li>
                  </ul>
            </nav>
