<!-- second section - About -->
<div id="about" class="pad-section foo">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center dark-overlay">
              <h2><span class="highlight">A</span>bout <span class="highlight">U</span>s</h2><hr>
              <p>We at VatTech are a <em>Software and Web Development</em> upstart whose goal it is to design
              and build the future. We strive only toward ushering a new tomorrow; a tomorrow
            like we always dreamed of with holographic imaging devices as common as the smartphones
          we carry in our hand. For AI just as capable of thoughts and understandings as our neighbor next
        door.</p>
        <p>A glorious future we've all dreamed of is just steps away. So why wait? Work with us and see what
          the future could be instore for all of us!
        </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /second section -->
    
      <!-- third section - Services -->
    <div id="services" class="pad-section">
        <div class="container" ID="Offer">
          <h2 class="text-center"><span class="highlight">W</span>hat <span class="highlight">W</span>e <span class="highlight">O</span>ffer</h2> <hr>
          <div class="row text-center">
            <div class="col-sm-3 col-xs-6">
              <i class="fas fa-globe"> </i>
              <h4><span class="highlight">W</span>eb <span class="highlight">A</span>pps</h4>
              <p>VatTech's centerpiece. We specialize in everything World Wide Web from designing and deploying
                websites for our clients to even creating browser games for the average person looking for 
                entertainment.
              </p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <i class="fas fa-mobile-alt"> </i>
              <h4><span class="highlight">M</span>obile <span class="highlight">A</span>pps</h4>
              <p>Using React Native and some Swift, VatTech has shifted a department to a focus
                on producing quality mobile apps for our clients.
              </p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <i class="fas fa-robot"></i>
              <h4><span class="highlight">A</span>I <span class="highlight">S</span>oftware</h4>
              <p>VatTech's latest department utilizing DialogFlow and creating well hashed
                out chatbot using our complex Python algorithm.</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <i class="fas fa-cloud"> </i>
              <h4><span class="highlight">C</span>loud <span class="highlight">S</span>oftware</h4>
              <p>We utilize cloud software for our apps, products, and as well as clients making the most of Amazon
                Web Services as well as Google Firebase!
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /third section -->
    
    <!-- fourth section - Information -->
    <div id="information" class="pad-section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
                <div class="panel-heading">
                    <h2 class="panel-title"><span class="highlight">E</span>xample <span class="highlight">W</span>ork</h2>
                    <hr>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-body lead">
                    <div class="workImg2" ID="nvidiaDiv">
                        <h3>Neural Networks</h3>
                        <p>stuff stuff stuff</p>
                      </div>
                      <div class="workImg2" ID="calendarDiv">
                        <h3>Neural Networks</h3>
                        <p>stuff stuff stuff</p>
                      </div>
                      <div class="workImg2" ID="vrDiv">
                        <h3>Virtual Reality</h3>
                        <p>stuff stuff stuff</p>
                      </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-body lead">
                  <div class="workImg2" ID="neuralDiv">
                    <h3>Neural Networks</h3>
                    <p>stuff stuff stuff</p>
                  </div>
                  <div class="workImg2" ID="watchDiv">
                    <h3>Neural Networks</h3>
                    <p>stuff stuff stuff</p>
                  </div>
                  <div class="workImg2" ID="musicDiv">
                    <h3>Neural Networks</h3>
                    <p>stuff stuff stuff</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /fourth section -->
    
        <!-- third section - Services -->
    <div id="contact" class="pad-section">
      <div class="container">
        <h2 class="text-center">Contact us</h2> <hr>
        <div class="row text-center">
          Shoot us an email or subscribe to out newsletter
        </div>
        <div class="contactForm contactFormActive">
          <p>Placeholder</p>
        </div>
        <div class="seeMore">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>
    <!-- hey -->
    <!-- /third section -->